
@import 'variables';

.button {
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-out;
    padding: 15px;
    margin: 10px;

    &--success {
        background-color: color(blue);
        color: white;
    }

    &--neutral {
        background-color: color(grey, dark);
        color: white;
    }

    &:disabled {
        background-color: color(grey, dark);
        color: black;
        &:hover {
            background-color: color(danger);
        }
    }

    &:hover {
        background: darken(color(blue,light), 1.5%);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, .5), 0 0 15px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 10px;
        text-shadow: 1px 1px 3px #427388; 
    }
}